.brand-grid {
  text-align: center;
  .brand-grid-tile {
    width: 100px;
  }
  .brand-grid-tile-footer {
    height: 20px;

  }
}
md-grid-tile-footer figcaption  {
  width:100%;
  h3 {
    margin-left: 0px !important;
  }
}
md-grid-tile figcaption  {
  width:100%;
  text-align: center;
}
